!!! XML
%manifest{:xmlns => 'http://schemas.microsoft.com/wlw/manifest/weblog'}
  %weblog
    %serviceName= ClassyBlog::ApplicationInfo::Name
    %adminUrl {blog-homepage-url}/admin
  %options
    %clientType Metaweblog
    %maxCategoryNameLength 256
    %supportsPostAsDraft Yes
    %supportsFileUpload Yes
    %supportsCustomDate Yes
    %supportsCategories Yes
    %supportsCategoriesInline Yes
    %supportsMultipleCategories Yes
    %supportsNewCategories Yes
    %supportsNewCategoriesInline Yes
    %supportsSlug Yes
    %supportsExcerpt Yes
    %supportsEmbeds Yes
    %supportsPages Yes
    %supportsAutoupdate Yes
    %requiresXHTML Yes
    %supportsExtendedEntries No
    %supportsHierarchicalCategories No
    %supportsKeywords No
    %supportsCommentPolicy No
    %supportsPingPolicy No
    %supportsAuthor No
    %supportsPassword No
    %supportsTrackbacks No
    %supportsPageParent No
    %supportsPageOrder No
    %supportsEmptyTitles No
    %supportsScripts No
    %requiresHtmlTitles No